*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Playfair display;
}

.bg_img_holder{
    position: relative;
    overflow: hidden;
}
.background_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.content {
    position: relative;
    z-index: 1;
}
.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    background-color: red;
    height: 5em;
    color: whitesmoke;
}
.logo_header {
    flex: 1;
}
.menu_header {
    flex: 3;
}
.menu_header ul {
    display: flex;
    justify-content: space-evenly;
}
.menu_header li {
    list-style-type: none;
    padding: 1.1em 2em;
    border-radius: 1rem;
}
.menu_header li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border:1px solid black;
}
.main {
    padding: 0em 2em;
    
}
.main_container {
    height: 80vh;
    font-size: 1.5em;   
    padding: 3em 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    align-items: center;
}
.rbutton {
    padding: 1.5em 2em;
    border-radius: 1rem;
    width: 10em;
}
.rbutton:hover{
    background-color: red;
    cursor: pointer;
    color: white;
    border-color: black;
}
.partner_container {
    height: 80vh;
    font-size: 1.5em;   
    padding: 3em 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    align-items:center;
    background-color: white;
}